@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    padding: 0;
    background: rgb(230, 230, 230);
    background: linear-gradient(180deg, rgb(238, 205, 247) 0%, rgb(208, 167, 224) 54%, rgb(155, 81, 172) 84%);
    min-height: 100vh;
    font-size:  larger;
}